# VSCode
.vscode/*

# Intellij IDEA
.idea/
.vagrant/

**/*.tmp.json

monitor/
.mcp.json
test_suite_analysis/
managed_context/

# Generated devcontainers (recreated by generate.sh)
devcontainer/github.com/pulp/pulpcore/
devcontainer/github.com/pulp/pulp_maven/
devcontainer/github.com/pulp/pulp_python/
devcontainer/github.com/pulp/pulp-service/.devcontainer/pulp-services-non-prod.pem
