networks:
  trustify:
    external: true

volumes:
  cargo-cache:
    external: true
  nvim-cache:
    external: true
  trustify-postgres-data:

services:
  trustify:
    # https://github.com/microsoft/vscode-remote-release/issues/10215
    image: localhost/trustify_devcontainer-backend:latest
    build:
      context: ${CONTEXT_PATH}
      dockerfile: ${CONTEXT_PATH}/Dockerfile
      args:
        USER_UID: ${USER_UID}
    privileged: true
    userns_mode: "keep-id"
    environment:
      TRUSTD_DB_HOST: trustify-db
      HTTP_SERVER_BIND_ADDR: "::"
      UI_ISSUER_URL: http://localhost:9090/realms/trustd
      UI_CLIENT_ID: ui
      AUTHENTICATOR_OIDC_ISSUER_URL: http://trustify-keycloak:8080/realms/trustd
      AUTHENTICATOR_OIDC_CLIENT_IDS: ui,cli
#      OTEL_TRACES_SAMPLER_ARG: "1"
#      OTEL_EXPORTER_OTLP_ENDPOINT: http://trustify-otel-collector:4317
#      INFRASTRUCTURE_ENABLED: true
#      INFRASTRUCTURE_BIND: "[::]:9010"
    ports:
      - "8080:8080"
      - "8090:8090"
      - "9010:9010"
    command: tail -f /dev/null
    volumes:
      - ${REPO_PATH}:/workspace:cached
      - ./post-create.sh:/tmp/post-create.sh:Z
      - cargo-cache:/home/vscode/.cargo
      - nvim-cache:/home/vscode/.local/share/nvim
      - ${NVIM_PATH}:/home/vscode/.config/nvim
    networks:
      - trustify
    depends_on:
      trustify-db:
        condition: service_started

  trustify-db:
    image: postgres:17
    restart: unless-stopped
    volumes:
      - trustify-postgres-data:/var/lib/postgresql/data
#      - /home/cferiavi/git/dump.sql.gz:/docker-entrypoint-initdb.d/dump.sql.gz:Z
#    command: >
#      postgres -c random_page_cost=1.1 -c max_parallel_workers_per_gather=4 -c shared_preload_libraries='pg_stat_statements'
    env_file:
      - .env_db
    networks:
      - trustify
  
  trustify-keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: true
      KC_HOSTNAME: http://localhost:9090
    ports:
      - "9090:8080"
    command: [ "start-dev" ]
    networks:
      - trustify

  trustify-keycloak-wait:
    image: docker.io/alpine/curl:latest
    volumes:
      - ./kc-wait.sh:/tmp/kc-wait.sh:Z
    entrypoint: [ "/bin/sh" ]
    command: /tmp/kc-wait.sh
    depends_on:
      trustify-keycloak:
        condition: service_started
    networks:
      - trustify

  trustify-keycloak-init:
    image: quay.io/keycloak/keycloak:latest
    volumes:
      - ./kc-init.sh:/tmp/kc-init.sh:Z
    entrypoint: [ "/bin/sh" ]
    command: /tmp/kc-init.sh
    depends_on:
      trustify-keycloak-wait:
        condition: service_completed_successfully
    networks:
      - trustify

#  trustify-prometheus:
#    container_name: prometheus
#    image: prom/prometheus:latest
#    volumes:
#      - ./prometheus.yaml:/etc/prometheus/prometheus.yml:z
#    ports:
#      - "9091:9090"
#      - "9464:9464"
#    networks:
#      - trustify

#  trustify-jaeger:
#    image: jaegertracing/all-in-one:1.53.0
#    ports:
#      - "16686:16686"
#    environment:
#      - COLLECTOR_OTLP_ENABLED=true
#    networks:
#      - trustify

#  trustify-otel-collector:
#    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector:0.115.1
#    command: [ "--config=/otel-collector-otel-collection-config.yaml" ]
#    volumes:
#      - './otel-collection-config.yaml:/otel-collector-otel-collection-config.yaml:z'
#    ports:
#      - "4317:4317"
#    depends_on: [ trustify-jaeger ]
#    networks:
#      - trustify
