networks:
  rhtas:
    external: true

volumes:
  npm-cache:
    external: true
  nvim-cache:
    external: true

services:
  rhtas-console-ui:
    image: localhost/rhtas-console-ui:latest
    build:
      context: ${CONTEXT_PATH}
      dockerfile: ${CONTEXT_PATH}/Dockerfile
      args:
        USER_UID: ${USER_UID}
    privileged: true
    userns_mode: "keep-id"
    environment:
      CONSOLE_API_URL: http://rhtas-console:8080
    ports:
      - "3001:3000"
    command: tail -f /dev/null
    volumes:
      - ${REPO_PATH}:/workspace:cached
      - npm-cache:/home/vscode/.npm
      - nvim-cache:/home/vscode/.local/share/nvim
      - ${NVIM_PATH}:/home/vscode/.config/nvim
    networks:
      - rhtas
